*.cache.png
﻿!.gitignore
.gwt/.gwt-log
gwt-unitCache
test-classes
www-test
war/WEB-INF/classes
war/WEB-INF/deploy
war/WEB-INF/lib
war/gwtpsamplespring
*.cache.html
*.gwt.rpc
*.*~
*.war
*framework
*framework-test
doc/
compile/gwt-2.5.1/*.jar
ivy/